{% extends "base.html" %}
{% load static %}

{% block title %}
gestion-des-ventes
{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'gestiondedepotapp/static/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block open-vente %}
menu-open
{% endblock %}

{% block active-gest-vente %}
active
{% endblock %}

{% block active-vente %}
active
{% endblock %}

{% block position1 %}
<b>Gestion des emballages consignés des clients</b>
{% endblock %}

{% block position2 %}
Gestion des emballages consignés des clients
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <a href="{% url 'vente' %}" class="btn btn-outline-secondary text-bold">
            <i class="fas fa-angle-left"></i>
            retour
        </a>
    </div>
</section>
<!-- /.content -->

{% endblock %}

{% block javascript %}

<!-- DataTables -->
<script src="{% static 'gestiondedepotapp/static/dist/js/modalvente.js' %}"></script>
<script src="{% static 'gestiondedepotapp/static/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'gestiondedepotapp/static/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

<script>
  $(function () {
    $('#table-embalconsigne').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}