{% for paramembal in paramembals %}
<tr>
  <td>{{paramembal.emballage}}</td>
  <td>{{paramembal.prixparametreprixemballage}}</td>
  <td>{{paramembal.datecreationparametreprixemballage}}</td>
  <td>{{paramembal.datemodificationparametreprixemballage}}</td>
  <td>
    {% if not paramembal.etatparametreprixemballage %}
    <span class="badge badge-primary" style="font-size:14px">Activé</span>
    {% endif %}
    {% if paramembal.etatparametreprixemballage %}
    <span class="badge badge-danger">Désactivé</span>
    {% endif %}
  </td>
  <td>
    <button class="btn btn-warning btn-sm show-form-update" data-url="{% url 'modifierparamembal' paramembal.id %}">
      <i class="fas fa-pencil-alt"></i>
      Editer
    </button>
    <button class="btn btn-danger btn-sm show-form-delete" data-url="{% url 'supprimerparamembal' paramembal.id %}">
      <i class="fas fa-pencil-alt"></i>
      Supprimer
    </button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="6" style="background:lightblue;text-align:center;font-weight:700">Aucun paramètre de prix n'est disponible pour le moment !</td>
</tr>
{% endfor %}