{% for detailprixvente in paramprixventes %}
<tr>
  <td>{{detailprixvente.produit}}</td>
  <td>{{detailprixvente.detailprixvente}}</td>
  <td>{{detailprixvente.prixreelle}}</td>
  <td>{{detailprixvente.prixarrondi}}</td>
  <td>{{detailprixvente.remise}}</td>
  <td>{{detailprixvente.datecreation}}</td>
  <td>
    <button class="btn btn-warning btn-sm show-form-update" data-url="{% url 'modifierparamprixvente' detailprixvente.id %}">
      <i class="fas fa-pencil-alt"></i>
      Editer
    </button>
    <button class="btn btn-danger btn-sm show-form-delete" data-url="{% url 'supprimerparamprixvente' detailprixvente.id %}">
      <i class="fas fa-pencil-alt"></i>
      Supprimer
    </button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="8" style="background:lightblue;text-align:center;font-weight:700">Aucun paramètre de prix de vente n'est encore enrégistrer pour le moment !</td>
</tr>
{% endfor %}