{% for remboursement in remboursements %}
<tr style="font-size:18px;text-align:left">
    {% load mathfilters %}
    <td>
        <button style="font-size:14px" class="btn btn-success btn-sm show-form-update" data-url="{% url 'pertesrembourser' remboursement.id %}">
            <i class="fas fa-pencil-alt"></i>
            &nbsp;{{remboursement.produit.parametreprixachatstockproduit.produit}}
        </button>
        <br>
        <small style="font-style:italic">Cliquer pour rembourser</small>
    </td>
    {% if remboursement.payer is None %}
    <td>
        <span style="text-decoration:underline">0,00 </span>FCFA
        <br>
        <small style="font-style:italic;border-bottom:2px solid red">Reste : {{remboursement.produit.produitperdu|add:remboursement.produit.produitcasse|mul:remboursement.produit.parametreprixachatstockproduit.prixparametreprixachatstockproduit}}</small>
    </td>
    {% elif remboursement.payer is not None %}
    <td>
        <span style="text-decoration:underline">{{remboursement.totalpayer}} </span>FCFA
        <br>
        <small style="font-style:italic;border-bottom:2px solid red">Reste : {{remboursement.produit.produitperdu|add:remboursement.produit.produitcasse|mul:remboursement.produit.parametreprixachatstockproduit.prixparametreprixachatstockproduit|sub:remboursement.totalpayer}}</small>
    </td>

    {% endif %}
    <td>
        <button class="ml-3 btn btn-secondary btn-sm " disabled style="font-style:italic">{{remboursement.date}}</button>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4">Aucune donnée de remboursement n'est disponible</td>
</tr>
{% endfor %}