{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'activezutilisateur' utilisateur.id %}" class="delete-form">
	{% csrf_token %}
		<div class="modal-header">
			<h5 class="modal-title">Activez ce compte</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p class="lead">Êtes-vous sûre de vouloir activez l'utilisateur <strong>{{utilisateur}}</strong></p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success">Activez</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		</div>
</form>